<!DOCTYPE html>
<html lang="en_US">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title></title>
        <style type="text/css">
            .sprite {
                -one-sprite-selector-for-group: sprite;
                /* The below statement will run the sprite through some post-processing tools */
                /*-one-image-postprocess: pngquant(256) pngcrush(-rem alla) optipng;*/
            }
        </style>

    </head>
    <body>
        <script>
            one.include('Ext:../resources/css/ext-all.css');
            one.include('extsdk:Foundation');
            one.include('extsdk:Extras');
            one.include('extsdk:DOM');
        </script>
        <script>
            /* Set loader to false when switching to production build */
            Ext.Loader.setConfig({
                enabled: true,
                paths: {
                    Ext: '3rdparty/ExtJS/src'
                }
            });
            Ext.BLANK_IMAGE_URL = one.getStaticUrl('3rdparty/ExtJS/resources/themes/images/access/tree/s.gif');
        </script>
      
        <!--<script src="js/YourApp/app.js"></script>-->
    </body>
</html>
